
/* ---------------------------------------------------------------------- */
/* ----- Mise en forme de la page --------------------------------------- */
/* ---------------------------------------------------------------------- */

html {
	height : 101%; /* pour avoir un barre de defilement a droite */
}

body {
	margin : 0px;
	padding : 0px;
	background-color: #FFFADA; /* #FFF7C4; */
	height : 100%;
	}

#allPage {
	/**
	border: 1px dashed red;
	**/

	position: relative;
        width: 940px;
	min-height: 100%;
	margin: 0 auto; 
	border-left: solid 3px #EC9E00;
	border-right: solid 3px #EC9E00;
	background-image: url(../img/marge-paille.gif);
	background-repeat: repeat-y;
	}

a.header-univmed {
	/**
	border: 1px solid red;
	**/
	display:block;
	position: absolute;
	top: 0px;
	left: 0px;
        width: 270px;
        height: 84px;
	background-image: url(../img/logo-sciences.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: white;
	}

a.header-masterinfo {
	/**
	border: 1px solid red;
	**/
	display:block;
	position: absolute;
	left: 275px;
	right: 275px;
        height: 84px;
	background-image: url(../img/header-masterinfo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: white;
	}

a.header-univprov {
	/**
	border: 1px solid red;
	**/
	display:block;
	position: absolute;
	right: 0px;
        height: 84px;
        width: 270px;
	background-image: url(../img/AMU.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: white;
	}

#header {
	/**
	border: 1px solid red;
	**/
        position: relative;
        height: 86px;
        top: 0px;
        left: 0px;
	width: 100%;
	border-bottom: solid 3px #EC9E00;
	background-color: white;
	}

#leftFrame {
        position: absolute;
        left: 15px;
        top: 200px;
        width: 160px;
	background-color: transparent;
/***
	border: 1px solid red;
***/
	}

#content {
	position: relative;
	left: 180px;
	width: 750px;
	padding-top: 30px;
	padding-bottom: 100px;
	/**
	border: 1px solid red;
	**/
	}


/* ---------------------------------------------------------------------- */
/* ----- Partie menu ---------------------------------------------------- */
/* ---------------------------------------------------------------------- */

div#menu {
	width: 150px;
	}

/* proprietes de toutes les entrees */
a.menu-normal, a.menu-active {
	margin: 0;
	display: block;
	text-decoration: none;
	text-align: left;
	color: black;
	border-bottom: 1px solid #EC9E00; /* ok */
	padding: 2px 0px 2px 0px;
	width: 140px;
	}

/* la 1ere entree a une barre en haut */
div#menu a:first-child {
	border-top: 1px solid #EC9E00; /* ok */
	}

/* les entrees normales reagissent */
div#menu a.menu-normal:hover {
	background-color: #FFEE88; /* ok */
	color: black;
	}

div#menu a.menu-active {
	background-color:#FFEE88;
	}

div#menu a.menu-normal {
	background-color: #FFCC66; /* ok */
	}

div#menu a.menu1 {
	font-size: 10pt;
	padding: 0px 0px 0px 5px;
	display: block;
	text-align: left;
	font-weight:	bold;
	}

div#menu a.menu2 {
	font-size: 8pt;
	padding: 0px 0px 0px 15px;
	display: block;
	text-align: left;
	}

div#menu a.menu3 {
	font-size: 8pt;
	padding: 0px 0px 0px 25px;
	display: block;
	text-align: left;
	font-style: italic;
	}



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XX                                                                  XX */
/* XX  MISE EN FORME DU CONTENU                                        XX */
/* XX                                                                  XX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ---------------------------------------------------------------------- */
/* definition de la zone "table-of-contents"                              */
/* ---------------------------------------------------------------------- */

div#table-of-contents {
	width:		35%;
	margin-right:	10px;
	margin-left:	10px;
	margin-top:	10px;
	margin-bottom:	10px;
	padding:	0px;
	float:		right;
	border:		solid 2px #EC9E00;
	background:	white;
	padding-bottom:	3px;
	}

.table-of-contents-title {
	width:		100%;
	background:	#FFEE88; /* color1 jaune */
	margin:		0px 0px 0px 0px;
	padding:	2px 0px 2px 0px;
	font-size:	smaller;
	color:		black;
	font-weight:	bold;
	}

.table-of-contents-level1 {
	font-size: smaller;
	margin: 0px 5px 0px 5px;
	}

.table-of-contents-level2 {
	font-size: smaller;
	margin: 0px 5px 0px 20px;
	}

.table-of-contents-level3 {
	font-size: smaller;
	margin: 0px 5px 0px 35px;
	}

/* ---------------------------------------------------------------------- */
/* ----- Mise en forme des elements ------------------------------------- */
/* ---------------------------------------------------------------------- */

/* ----- polices et taille ----- */

p,ul,dl,ol,td,dt,dd,li,th,h4,h2,h3,h4,h5,div,input,textarea,select {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	}

pre,tt {
	font-family:Courier, monospace;
	font-size: 10pt;
	}

dt { font-weight: bold; }

/* ----- les tables transparentes ----- */

table.left {
	margin-left: 0px;
	margin-right: auto;
	}

table.transparent {
	background-color:transparent;
	border: 0px;
	}

table.transparent td, td.transparent {
	background-color:transparent;
	}

table.transparent th, th.transparent {
	background-color:transparent;
	}

/* ----- les a sous forme de boutons ----- */

a.button {
	background: #FFEE88; /* color1 jaune */
	margin: 5px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px #EC9E00;
	display: block;
	text-decoration: none;
	width: 100px;
	text-align: center;
	}

a.button:hover {
	background: #FFCC66;
	color: black;
	}

/* ----------------------------------------------------------------------
--- pour les cadres a base de tableaux
---------------------------------------------------------------------- */

table.htex-frame {
	background-color: transparent;
	width : 100%;
	margin-top: 10px;
	border-collapse: collapse;
	border: 0px;
	/****
	border: solid 1px red;
	****/
	}

td.htex-frame-cell {
	background-color: transparent;
	width : 20%;
	/****
	border: solid 1px red;
	text-align: justify;
	****/
	}

td.htex-frame-first {
	padding-left: 10px;
	padding-right: 5px;
	/****
	border-right: solid 1px red;
	****/
	}

td.htex-frame-middle {
	padding-left: 5px;
	padding-right: 5px;
	/****
	border-right: solid 1px red;
	****/
	}

td.htex-frame-last {
	padding-left: 5px;
	padding-right: 10px;
	}

/* ----------------------------------------------------------------------
--- pour les cadres a base de div
---------------------------------------------------------------------- */

div.htex-framebox {
	width:		90%;
	margin-left:	5%;
	margin-top:	15px;
	margin-bottom:	0px;
	padding:	0px 0px 0px 0px;
	border:		solid 2px #EC9E00;
	background:	white;
	}

div.htex-framebox-title {
	background:	#FFEE88; /* color1 jaune */
	margin:		0px 0px 0px 0px;
	padding:	2px 0px 2px 2px;
	border-bottom:	solid 2px #EC9E00;
	color:		black;
	font-weight:	bold;
	}

div.htex-framebox-content {
	padding:	5px;
	/*
	border:		solid 1px red;
	*/
	}

div.htex-framebox-content > *:first-child {
	margin-top:	0px;
	/*
	border:		dashed 0px red;
	*/
	}

/* ----- les tables standards ----- */

table {
	background: transparent;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	/*
	border: none;
	*/
	border-spacing: 2px;
	/* border-collapse: collapse; */
	border : solid 2px #EC9E00; /* color3 ocre  */
	}

td {
	background-color: #FFEE88; /* color1 jaune */
	padding: 3px;
	border: 0px;
	}

th {
	background-color:#FFCC66;
	padding: 3px;
	border: 0px;
	}

.color0 { background-color: #FFF7C4; /* color0 sable */ }
.color1 { background-color: #FFEE88; /* color1 jaune */ }
.color2 { background-color: #FFCC66; /* color2 dorée */ }
.color3 { background-color: #EC9E00; /* color3 ocre  */ }
.color9 { background-color: #FFB9B3; /* color9 rouge clair */ }

/* ----- les sections ----- */

h1-new {
	font-family: Arial,sans-serif;
	font-size: large;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	border-left: solid 5px #EC9E00;
	margin-left: 40px;
	padding-left: 10px;
/**
	border: dashed 1px red;
**/
	}

h1 {
	font-family:Arial,sans-serif;
	font-size: large;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 30px;
	}

h2, .h2 {
	margin-top:1cm;
	width: 100%;
	text-align: left;
	font-weight: bold;
	background-color:#FFCC66;
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	
	border-left: solid 2px #EC9E00;
	border-bottom: solid 2px #EC9E00;
	clear: left;
	}

h3 {
	width: 100%;
	text-align: left;
	color:#EC9E00;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-bottom-color:#EC9E00;
	font-weight: bold;
	clear: left;
	}

h2, h3, h4, h5, h6 {
	/* pour IE : les titres ne bloquent pas les float */
	clear : left;
	}

/* ----- les formulaires ----- */

input, textarea, select {
	border: solid 1px #EC9E00;
	padding: 2px;
	background-color: #FFF7C4; /* color0 */
	}

input.ko, textarea.ko, select.ko {
	border: solid 1px red;
	background-color: #FFC5C5; /* color9 rouge clair #FFDBDB */
	}

/* ----- les legendes ----- */

legend { 
	background-color: #FFEE88; /* color1 jaune */
	border-color:#EC9E00;
	border-style : solid;
	border-width: 2px;
	vertical-align: bottom;
	padding: 2px 5px 2px 5px;
	}

fieldset {
	border : solid 2px #EC9E00;
	margin-top: 10px;
	padding: 7px;
	}

.border-color4 {
	border-color: #EC9E00;
	border-style: solid;
	border-width: 1px;
	}

.border2-color4 {
	border-color: #EC9E00;
	border-style: solid;
	border-width: 2px;
	}


/* #FFFAC4 */


.color0 { background-color: #FFF7C4; /* color0 sable */ }
.color1 { background-color: #FFEE88; /* color1 jaune */ }
.color2 { background-color: #FFCC66; /* color2 dorée */ }
.color3 { background-color: #EC9E00; /* color3 ocre  */ }

.float-right {
	float:			right;
	background-color:	white;
	margin:			10px;
	}

.float-left {
	float:			left;
	background-color:	white;
	margin:			10px;
	}

.clear-right {
	clear:			right;
	}

.clear-left {
	clear:			left;
	}

.width200 {
	width:	200px;
	}

.width40 {
	width:	40%;
	}

.width45 {
	width:	45%;
	}

.width50 {
	width:	50%;
	}

/* ----- les parties verbatim ----- */

pre { 
	border:dashed;
	border-width:1px;
	border-color:#FFCC66;
	margin-left:1cm;
	margin-right:1cm; 
	padding:4px;
	background-color: #FFF7C4; /* color0 */
	}

/* ----- traitement de la classe "center" ----- */

img.center {
	display:block;
	margin: 5px;
	margin-left:auto;
	margin-right:auto
	}

img.left { margin: 5px; float:left }

img.right { margin: 5px; float:right }

.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.bold { font-weight: bold; }
.red { color: red; }


.cadre { 
	border-color:   #EC9E00;
	border-style:   solid;
	border-width:   2px;
	vertical-align: bottom;
	padding:        4px;
	}

.quote { 
	margin-right:1cm;
	margin-left: 1cm;
	}

.border {
	border: solid 1px #FFCC66;
	}

.border2 {
	border: solid 2px #FFCC66;
	}

.border-top {
	border-top: solid 1px #FFCC66;
	}

.border-bottom {
	border-bottom: solid 1px #FFCC66;
	}

.border-right {
	border-right: solid 1px #FFCC66;
	}

.border-left {
	border-left: solid 1px #FFCC66;
	}

.error {
	font-weight: bold;
	color:	red;
	background-image: url('img/cancel.png');
	background-repeat: no-repeat;
	padding-left: 20px;
}

a { text-decoration:underline; color: black; }
a:visited { color: black; }
a:link { color: black; }
a:hover,a:active { color:#EC9E00; }

